@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Aldrich|Monoton');


* {
    margin: 0;
    padding: 0;
}



/* ---- NavBar ---- */



/* ---- Tipografia ---- */

.orb {
    font-family: 'Orbitron', sans-serif;
}

.ald {
    font-family: 'Aldrich', sans-serif;
}

.mon {
    font-family: 'Monoton', cursive;
}



/* Hover animado */

.hvr {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: rgb(5, 140, 218);
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr:hover:before, .hvr:focus:before, .hvr:active:before {
  left: 0;
  right: 0;
}



/* Animação */

[data-anime] {
    opacity: 0;
    transition: .3s;
  }
  
  [data-anime="left"] {
    transform: translate3d(-50px, 0, 0);
  }
  
  [data-anime="right"] {
    transform: translate3d(50px, 0, 0);
  }
  
  [data-anime="top"] {
    transform: translate3d(0, -50px, 0);
  }
  
  [data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }



/* Loading */

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: rgb(5, 140, 218);
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 3px;
}



/* --------------- RESPONSIVE BREAKPOINTS --------------- */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

  h1 {
    font-size: 150%;
  }
	

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {



}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {



}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {



}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

	

}